<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BusManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bus.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertBusServlet</display-name>
    <servlet-name>InsertBusServlet</servlet-name>
    <servlet-class>com.bus.InsertBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBusServlet</servlet-name>
    <url-pattern>/InsertBusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCusServlet</display-name>
    <servlet-name>InsertCusServlet</servlet-name>
    <servlet-class>com.bus.InsertCusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCusServlet</servlet-name>
    <url-pattern>/InsertCusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CnfDeleteBusServlet</display-name>
    <servlet-name>CnfDeleteBusServlet</servlet-name>
    <servlet-class>com.bus.CnfDeleteBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CnfDeleteBusServlet</servlet-name>
    <url-pattern>/CnfDeleteBusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CnfDeleteCustomerServlet</display-name>
    <servlet-name>CnfDeleteCustomerServlet</servlet-name>
    <servlet-class>com.bus.CnfDeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CnfDeleteCustomerServlet</servlet-name>
    <url-pattern>/CnfDeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CnfEditBusServlet</display-name>
    <servlet-name>CnfEditBusServlet</servlet-name>
    <servlet-class>com.bus.CnfEditBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CnfEditBusServlet</servlet-name>
    <url-pattern>/CnfEditBusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CnfEditCustomerServlet</display-name>
    <servlet-name>CnfEditCustomerServlet</servlet-name>
    <servlet-class>com.bus.CnfEditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CnfEditCustomerServlet</servlet-name>
    <url-pattern>/CnfEditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBusServlet</display-name>
    <servlet-name>DeleteBusServlet</servlet-name>
    <servlet-class>com.bus.DeleteBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBusServlet</servlet-name>
    <url-pattern>/DeleteBusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.bus.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBusServlet</display-name>
    <servlet-name>DisplayBusServlet</servlet-name>
    <servlet-class>com.bus.DisplayBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBusServlet</servlet-name>
    <url-pattern>/DisplayBusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCustomerServlet</display-name>
    <servlet-name>DisplayCustomerServlet</servlet-name>
    <servlet-class>com.bus.DisplayCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCustomerServlet</servlet-name>
    <url-pattern>/DisplayCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBusServlet</display-name>
    <servlet-name>EditBusServlet</servlet-name>
    <servlet-class>com.bus.EditBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBusServlet</servlet-name>
    <url-pattern>/EditBusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerServlet</display-name>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>com.bus.EditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/EditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCusServlet_a</display-name>
    <servlet-name>InsertCusServlet_a</servlet-name>
    <servlet-class>com.bus.InsertCusServlet_a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCusServlet_a</servlet-name>
    <url-pattern>/InsertCusServlet_a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayTranServlet</display-name>
    <servlet-name>DisplayTranServlet</servlet-name>
    <servlet-class>com.bus.DisplayTranServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTranServlet</servlet-name>
    <url-pattern>/DisplayTranServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.bus.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>com.bus.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayHistoryServlet</display-name>
    <servlet-name>DisplayHistoryServlet</servlet-name>
    <servlet-class>com.bus.DisplayHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayHistoryServlet</servlet-name>
    <url-pattern>/DisplayHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrcDesServlet</display-name>
    <servlet-name>SrcDesServlet</servlet-name>
    <servlet-class>com.bus.SrcDesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrcDesServlet</servlet-name>
    <url-pattern>/SrcDesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnqueryServlet</display-name>
    <servlet-name>EnqueryServlet</servlet-name>
    <servlet-class>com.bus.EnqueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnqueryServlet</servlet-name>
    <url-pattern>/EnqueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicketServlet</display-name>
    <servlet-name>BookTicketServlet</servlet-name>
    <servlet-class>com.bus.BookTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicketServlet</servlet-name>
    <url-pattern>/BookTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrcDesServlet1</display-name>
    <servlet-name>SrcDesServlet1</servlet-name>
    <servlet-class>com.bus.SrcDesServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrcDesServlet1</servlet-name>
    <url-pattern>/SrcDesServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnqueryServlet1</display-name>
    <servlet-name>EnqueryServlet1</servlet-name>
    <servlet-class>com.bus.EnqueryServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnqueryServlet1</servlet-name>
    <url-pattern>/EnqueryServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTicketServlet</display-name>
    <servlet-name>CancelTicketServlet</servlet-name>
    <servlet-class>com.bus.CancelTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicketServlet</servlet-name>
    <url-pattern>/CancelTicketServlet</url-pattern>
  </servlet-mapping>
</web-app>